[Desktop Entry]
Name=Telegram
Comment=New era of messaging
TryExec=/home/ulee/Downloads/Telegram/Telegram
Exec=/home/ulee/Downloads/Telegram/Telegram -- %u
Icon=telegram
Terminal=false
StartupWMClass=TelegramDesktop
Type=Application
Categories=Chat;Network;InstantMessaging;Qt;
MimeType=x-scheme-handler/tg;x-scheme-handler/tonsite;
Keywords=tg;chat;im;messaging;messenger;sms;tdesktop;
Actions=quit;
DBusActivatable=true
SingleMainWindow=true
X-GNOME-UsesNotifications=true
X-GNOME-SingleWindow=true
X-XFCE-Source=file:///home/ulee/Desktop/org.telegram.desktop._ed89ee20d348dd19d55eb7a8df1df1d1.desktop

[Desktop Action quit]
Exec=/home/ulee/Downloads/Telegram/Telegram -quit
Name=Quit Telegram
Icon=application-exit
