[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/ulee/Desktop/chrome-cadlkienfkclaiaibeoongdcgmdikeeg-Default.desktop]
row=3
col=1

[/home/ulee/Desktop/code.desktop]
row=0
col=1

[/home/ulee/Desktop/my_python_lessons]
row=3
col=0

[/home/ulee/Desktop/org.telegram.desktop._ed89ee20d348dd19d55eb7a8df1df1d1.desktop]
row=4
col=0

[/home/ulee/Desktop/google-chrome.desktop]
row=2
col=1

[/home/ulee/Desktop/chrome-mjoklplbddabcmpepnokjaffbmgbkkgg-Default.desktop]
row=1
col=1

[Trash]
row=0
col=0

[/]
row=1
col=0

[/home/ulee]
row=2
col=0

